@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: #36393f;
    margin: 0;
}

.app {
    display: flex;
    height: 100vh;
}


.serverlist {
    display: flex;
    flex-direction: column;
    width: 35%;
    max-width: 75px;
    max-height: 100vh;
    overflow: auto;
    background-color: #202225;
    border-radius: 0;
    align-items: center;
}

.serverlist img {
    margin-top: 5px;
}

::-webkit-scrollbar { 
    display: none;
}

.separator {
    background-color: #36393f;
    width: 32px;
    height: 2px;
    margin-bottom: 5px;
}

.chatlist {
    width: 240px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: #2f3136;
    overflow: auto;
}

.search {
    background-color: #202225;
    outline: none;
    border: none;
    width: 220px;
    height: 28px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: rgb(163,166,170);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin-top: 15px;
}

.menu-initial {
    background-color: transparent;
    outline:none;
    border:none;
    color: white;
    font-size: 15px; 
    font-weight: 'bold';
}

.directmessages {
    font-size: 12px;
    letter-spacing: 0.24px;
    font-style: normal;
    font-weight: 600;
    color: rgb(220,221,222);
    font-family: Helvetica, sans-serif;
}

.userpart {
    transition: all 500ms;
    width: 210px;
    height: 39px;
    padding-left: 5px;
    border-radius: 5px;
    /* background-color: #42464d; */
    padding-top: 4px;
    margin-top: 7px;
}

.userpart:hover {
    opacity: 0.6;
}

.user_name {
    font-size: 16px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 500;   
    color: rgb(220,221,222);
    margin-left: 9px;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.chati {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.chat-header {
    display: flex;
    height: 57px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.25);
    justify-content: space-between ;
    align-items: center;
}

.chat-header-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.chat_username {
    margin-left: 15px;
    font-size: 17px;
    color: white;
}

.chat-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}

.chat-header-btn {
    width: 40px
}

.chat-body {
    flex:1;
    overflow-y: auto;
}

.chat-footer {
    height: 50px;
    display: flex;
    align-items: center;
    width: 98%;
    border-radius: 7px ;
    background-color: #40444b;
    margin-left: 16px;
    margin-bottom: 25px;
}

.footer-pre {
    display: flex;
}
.footer-inputarea {
    flex-grow: 1;
}

.footer-input {
    width: 98%;
    font-size: 15px;
    background-color: #40444b;
    border: 0;
    outline: 0;
    color: white;
}

.footer-pos {
    display: flex;
}

.footer-input:focus {
    border: none;
    outline: none;
    background: none;
    outline-width: 0;
    box-shadow: none;
}